<div align="center">
    <h1>Add User</h1>
    <h3>{{form.message}}</h3>
    <form (submit)="save()">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                        placeholder="enter your firstName"></td>
                <td>{{form.inputerror.firstName}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                        placeholder="enter your lastName"></td>
                <td>{{form.inputerror.lastName}}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <select name="roleId" [(ngModel)]="form.data.roleId">
                       <option [ngValue]="" value="undefined">{{'---------Select Role---------' }}</option>
                        <option [value]="1">admin</option>
                        <option [value]="2">student</option>
                        <option [value]="3">faculty</option>
                        <option [value]="4">college</option>
                        <option [value]="5">kiosk</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Login</th>
                <td><input type="email" name="loginId" [(ngModel)]="form.data.loginId" placeholder="enter your login">
                </td>
                <td>{{form.inputerror.loginId}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.data.password"
                        placeholder="enter your firstName"></td>
                <td>{{form.inputerror.password}}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td><input type="date" name="dob" [(ngModel)]="form.data.dob" style="width: 165px;"></td>
                <td>{{form.inputerror.dob}}</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="save"></td>
            </tr>
        </table>
    </form>
</div>
